:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #20191c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shdow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

@font-face {
  font-family: "Vazir";
  src: url(../fonts/Vazir.eot) format("eot"), url(../fonts/Vazir.woff) format("woff"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  font-family: "Vazir"; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shdow-dark); }

.header {
  height: 7rem;
  background-color: #ffffff;
  border-bottom: var(--color-grey-light-2); }

.header:hover:after {
  transform: scaleX(1); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }
