.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shdow-dark);
}

.header {
  height: 7rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:hover:after {
  transform: scaleX(1);
}
.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
    display: none;
  }
}

.hotel-view {
  height: 180rem;
  flex: 1;
}
